<div class="postlist">
  {%- for post in postslist -%}
    <div class="card postlist__item">
      <img class="postlist__thumb hide-xs" src="{{ post.data.thumb | url }}" title="Да, я зашакален. И что ты мне сделаешь?" />
      <div class="postlist__preview">
        <h4 class="postlist__title">
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h4>
        <time class="postlist__date text-grey text-capitalize">{% readableDate post %}</time>
        <p class="postlist__excerpt">
          {% getExcerpt post %}
        </p>
      </div>
    </div>
  {%- endfor -%}
</div>